{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSSEN - The Game Of Growth</title>

    <link rel="shortcut icon" href="{% static 'images/fav.jpg'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />




    
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery-scrolltofixed-min.js'%}"></script>
<script src="{% static 'js/scroll-nav/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scroll-nav/js/scrolling-nav.js' %}"></script>
<script src="{% static 'js/script.js'%}"></script>
</head>
<body>

     <!-- ################# Header Starts Here#######################-->
     <header id="menu-jk">
    
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <img src="{% static 'images/LOGOINSSEN.png'%}"  height="50px" width="0px" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="./accounts/whoweare/">Who We Are</a></li>
                            <li><a href="./accounts/aboutUs/">About us</a></li>
                            <li><a href="./accounts/blog/">Blog</a></li>  
                            <li><a href="./accounts/gall/">Gallery</a></li>
                            <li><a href="./accounts/contactUs/">Contact Us</a></li>
                            <li><a href="./accounts/signUp/">Sign Up</a></li>
                            <li><a href="./accounts/signIn/">Sign In</a></li>
                            <li><a href="./feedback_app/submit_feedback/">Feedback</a></li>
                            <li><a href="./feedback_app/view_feedback/">View Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                        <button class="btn btn-success"> <a href="./accounts/bookAppointment/" style="color: rgb(236, 240, 243);">Book an Appointment</a></button>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <br>
    <br>

     <!-- ################# With Medical Starts Here#######################-->

     <section id="about_us" class="with-medical">
        <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-12">
                    <img src="{% static "images/why.jpg" %}" alt="">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <h4>Why should I donate blood? <br>
                     <span>Donation Hospital</span>   
                    </h4>
                    <p>We at INSSEN live by the motto of saving lives by ensuring every drop of blood contributes towards the right cause of saving lives. A mission started by young IITians (Delhi)
                        They worked around-the-clock towards this cause, and in no time, INSSEN became a full- scale NGO with a mission of solving the problem of blood shortage in India. </p>
                        <p>How can you donate ?
                            All contributions made to INSSEN are eligible for tax deduction as per the 80G section of the Income Tax Act, 1961. We collaborate with colleges, corporates, RWAs to organize innovative and engaging blood donation camps end to end.Motivate an 18 year old to donate blood for the first time on his / her birthday via a street play</p>
p                </div>
                
            </div>
        </div>
    </section>
    


     <!-- ################# Footer Starts Here#######################-->


     <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Inssen is a open source blood Donation app available for Android smartphones. Inssen searches, notifies and connect thousands of blood donors in three simple steps. Inssen donation app ensures hassle free blood donation and privacy of a blood donor. A blood donor can select any specific date and location to donate blood and find a suitable person who needs blood.  </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>NAVIGATION</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        INSSEN <br>
                        M.P. Nagar (Bhopal District) <br>
                        Madhya Pradesh, IND <br>
                        Phone: +91 9159669599 <br>
                        Email: <a href="mailto:info@inssen.com" class="">info@inssen.com</a><br>
                        Web: <a href="smart-eye.html" class="">www.inssen.in</a>
                    </address>

                </div>
            </div>
        </div>
        

    </footer>
    <div class="copy">
            <div class="container">
                <a href="https://www.inssen.com/">2023 &copy; All Rights Reserved | Designed and Developed by </a>
                
                <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>
</body>
</html>